# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
env/
rag_env/
.venv/
anaconda4/

# Chroma DB
chroma_db/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# HuggingFace cache
.cache/

# Logs
*.log
